@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-surface-0: var(--color-zinc-950);
  --color-surface-1: var(--color-zinc-900);
  --color-foreground-strong: var(--color-zinc-100);
  --color-foreground: var(--color-zinc-200);
  --color-foreground-faint: var(--color-zinc-300);
  --color-foreground-muted: var(--color-zinc-400);
  --color-foreground-subtle: var(--color-zinc-500);
  --color-outline: var(--color-zinc-800);
  --shadow-popover: 0 20px 40px -16px rgb(0 0 0 / 0.3);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
